<div fxLayout="row"
     fxLayoutAlign="space-between start">
    <div fxFlex>
        <mat-card class="card">
            <img mat-card-image
                 src="https://lh3.googleusercontent.com/-eBu0TQ7TfJY/AAAAAAAAAAI/AAAAAAAACYg/Bb_7x6A6CIo/photo.jpg"
                 alt="profile">
            <mat-card-header>
                <mat-card-title>Chakib Benhaddou</mat-card-title>
                <mat-card-subtitle>Software Developer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div fxLayout="row"
                     fxLayoutAlign="space-between start">
                    <div fxFlex>
                        <a target="_blank"
                           alt="Github"
                           href="https://github.com/chkb">
                            <svg version="1.1"
                                 baseProfile="tiny"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px"
                                 y="0px"
                                 width="100px"
                                 height="100px"
                                 viewBox="0 0 100 100"
                                 xml:space="preserve">
                                <path fill="#231F20"
                                      d="M50.141,61.976c3.769,0,6.824,1.903,6.824,4.251s-3.055,4.251-6.824,4.251s-6.824-1.903-6.824-4.251
                               S46.372,61.976,50.141,61.976z M49.23,29.299c2.584,0,4.678,2.632,4.678,5.878s-2.094,5.878-4.678,5.878s-4.678-2.632-4.678-5.878
                               S46.646,29.299,49.23,29.299z M50,0C22.386,0,0,22.386,0,50s22.386,50,50,50s50-22.386,50-50S77.614,0,50,0z M62.501,35.182
                               c0,7.247-5.84,13.135-13.098,13.278c-1.916,3.813-0.003,5.578,1.468,6.328c0,0,0.298,0.151,0.95,0.388
                               c0.239,0.076,0.391,0.107,0.391,0.107s-0.002,0.011-0.003,0.03c0.457,0.155,1.04,0.338,1.76,0.534
                               c0.876,0.146,1.723,0.347,2.533,0.601c0.003,0,0.008,0.002,0.013,0.003c0,0,0.013,0.003,0.017,0.006
                               c1.336,0.421,2.569,0.983,3.664,1.659c0.451,0.259,0.86,0.529,1.16,0.798l0.002,0.002c2.335,1.799,3.819,4.205,3.981,6.916
                               c0.364,6.147-6.211,11.533-14.684,12.029C42.18,78.357,35.016,73.777,34.65,67.63c-0.257-4.348,2.959-8.313,7.859-10.438
                               c-5.216-4.507-2.277-8.819-0.432-10.731c-3.786-2.345-6.308-6.519-6.308-11.279c0-7.337,5.984-13.284,13.365-13.284
                               c2.213,0,4.297,0.537,6.134,1.483c0,0,3.796,1.554,10.098-1.483v8.16h0.002c0,0-1.893,0.859-3.395,1.421
                               C62.314,32.655,62.501,33.897,62.501,35.182z" />
                            </svg>
                        </a>
                    </div>
                    <div fxFlex>
                        <a target="_blank"
                           alt="Linkedin"
                           href="https://www.linkedin.com/in/chakibbenhaddou/">
                            <svg version="1.1"
                                 baseProfile="tiny"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px"
                                 y="0px"
                                 width="100px"
                                 height="100px"
                                 viewBox="0 0 100 100"
                                 xml:space="preserve">
                                <path fill="#231F20"
                                      d="M50,0C22.386,0,0,22.386,0,50s22.386,50,50,50s50-22.386,50-50S77.614,0,50,0z M36.697,69.639H25.465V35.846
                               h11.232V69.639z M31.082,31.234h-0.074c-3.77,0-6.207-2.596-6.207-5.842c0-3.314,2.514-5.838,6.355-5.838s6.207,2.523,6.279,5.838
                               C37.436,28.639,34.998,31.234,31.082,31.234z M77.201,69.639H65.969V51.561c0-4.541-1.625-7.641-5.689-7.641
                               c-3.104,0-4.953,2.09-5.764,4.107c-0.297,0.721-0.371,1.73-0.371,2.74v18.871H42.912c0,0,0.148-30.621,0-33.793h11.232v4.789
                               c1.494-2.303,4.162-5.582,10.123-5.582c7.391,0,12.934,4.83,12.934,15.209V69.639z" />
                            </svg>
                        </a>
                    </div>
                    <div fxFlex>
                        <a alt="Email"
                           href="mailto:benhaddou.chakib@gmail.com">
                            <svg version="1.1"
                                 baseProfile="tiny"
                                 id="Layer_1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                 x="0px"
                                 y="0px"
                                 width="100px"
                                 height="100px"
                                 viewBox="0 0 100 100"
                                 overflow="scroll"
                                 xml:space="preserve">
                                <path fill="#231F20"
                                      d="M50,0C22.386,0,0,22.386,0,50s22.386,50,50,50s50-22.386,50-50S77.614,0,50,0z M19.188,72.951V72.85
                               l24.708-23.145l6.103,5.597l5.967-5.472l24.682,23.121H19.188z M80.81,70.861l-23.635-22.14L80.81,27.048L49.999,50L19.188,27.048
                               l23.499,21.547L19.188,70.609V27.048H80.81V70.861z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card class="card">
            <br>
            <br>
            <mat-card-content>
                <h3>Introduction</h3>
                <p>
                    Hi, my name is Chakib, I'm a pasionated software delveloper that likes to explore new technologies
                    and dive into to new areas
                    of knowlege.
                </p>
                <p>
                    One of the areas I enjoy the most, is when quality code meets good user experince. The end users
                    needs is allways
                </p>
            </mat-card-content>
            <br>
            <br>
            <mat-card-content>
                <h3>Experience</h3>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <h4 mat-line>Software Developer at <a href="http://www.knowledgecube.net/">Knowledge Cube A/S</a></h4>
                        <h5 mat-line>Primo 2015 - Medio 2015</h5>
                        <div mat-line>
                            Project: LTAS (Løntilskudsadministrations System), statistics module
                        </div>
                        <div mat-line>
                            Techstack: asp.net C#, jQuery, Knockout, CSS, MsSql.
                        </div>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <h4 mat-line>Software Developer at <a href="http://www.eboks.net/">E-Boks A/S</a></h4>
                        <h5 mat-line>Medio 2015 - Medio 2016</h5>
                        <div mat-line>
                            Project: Digitalpost 2 (Erhverv), BLL update
                        </div>
                        <div mat-line>
                            Techstack: asp.net C#, vb.net, web.api, angularJS.
                        </div>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <h4 mat-line>Software Developer at <a href="http://www.eksponent.com/">Eksponent ApS</a></h4>
                        <h5 mat-line>Medio 2016 - Medio 2018</h5>
                        <div mat-line>
                            Project: PUMA (Københavns Kommune)
                        </div>
                        <div mat-line>
                            Techstack: Web.api, C#, ravenDb, angularJS, Angular.io, Mapbox, D3, Azure.
                        </div>
                    </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>chevron_right</mat-icon>
                        <h4 mat-line>Software Developer at <a href="https://www.maersk.com//">Mærsk</a></h4>
                        <h5 mat-line>Medio 2018 - Now</h5>
                        <div mat-line>
                            Project: DynamicNET - (New logistics application)
                        </div>
                        <div mat-line>
                            Techstack: Web.api, C#, CosmosDb, Azure, Docker, Kubernetes, AppInsight, Angular.io, MsSql,
                            Karma, Protractor, CucumberJs.
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card class="card">
            <mat-card-content>
                <mat-list>
                    <h3 mat-subheader>Skills</h3>
                    <mat-list-item>
                        <mat-icon mat-list-icon>code</mat-icon>
                        <h4 mat-line>Typescript /Javscript</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        disabled
                                        step="0.5"
                                        value="5"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>code</mat-icon>
                        <h4 mat-line>Angular IO</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="5"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>code</mat-icon>
                        <h4 mat-line>CSS/SCSS/LESS</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="3"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>code</mat-icon>
                        <h4 mat-line>C#</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="4"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>assessment</mat-icon>
                        <h4 mat-line>E2E Test (Protractor/Cucumber)</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="3"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>assessment</mat-icon>
                        <h4 mat-line>Karma Unit Testing</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="3"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>people</mat-icon>
                        <h4 mat-line>Scrum Master</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="5"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>dashboard</mat-icon>
                        <h4 mat-line>Docker & Kubernetes</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="3"></mat-slider>
                        </div>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>build</mat-icon>
                        <h4 mat-line>CI/CD Integration (VSTS)</h4>
                        <div mat-line>
                            <mat-slider color="primary"
                                        min="1"
                                        max="5"
                                        step="0.5"
                                        disabled
                                        value="4"></mat-slider>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>